.accentBG {
  background-color: var(--accent-bgcolor);
  padding: 36px 10px 60px 10px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 6px 0px inset;

  //   padding: 36px 30px 190px 30px;
}

.spanTitleHome {
  color: var(--accent-text-color);
  font-size: 20px;
  font-weight: 400;
  display: block;
  text-align: start;

  margin-bottom: 25px;
  //   font-size: 34px;
  //   margin-left: 40px;
}
.homeTitleH1 {
  font-family: var(--font-lora);
  font-size: 20px;
  line-height: 1.3;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
  //   font-size: 33.6px;
  //   font-weight: 300;
}

.homeP1 {
  line-height: 2.18;

  text-align: left;
  //   line-height: 1.625;
}
.firstImage {
  margin-top: -40px;
  margin-bottom: 20px;
  //   margin-top: -120px;
}
.secondSection {
  padding: 20px 20px 60px 20px;
  //   padding: 100px 10px 60px 10px;
}
// .displayFlex {
//   display: flex;
//   justify-content: center;
//   gap: 10px;
//   margin-bottom: 60px;
// }
.divWhy {
  max-width: 384px;
}
.titleWhy {
  font-family: var(--font-robotoCond);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--accent-text-color);
  margin-bottom: 15px;
  margin-top: 25px;
  padding-left: auto;
  padding-right: 0px;
  text-align: right;
  //   font-size: 24px;
}
.titleBecause {
  font-family: var(--font-lora);
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  //   font-size: 36px;
}

.aboutMeHomeDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.125;
}
.buttonBio {
  font-family: var(--font-mulish);
  background-color: var(--accent-text-color);

  border-radius: 10px;
  padding: 12px 80px;
  border-style: none;
  font-size: 14px;
  line-height: 1.43;
  transition: all 500ms ease-out;

  &:hover {
    background-color: var(--accent-bgcolor);
    color: var(--accent-text-color);
    box-shadow: 2px 2px 2px rgb(255, 122, 0);
  }
}

.titleThirdSection {
  color: var(--accent-text-color);
  font-family: var(--font-robotoCond);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}
// .whoDoIHelpList {
// }
// .whoDoIHelpItem {
//   outline: 1px solid green;
// }
.whoDoIHelpBox {
  min-width: 300px;
  min-height: 320px;
  background-color: var(--primary-bgcolor);
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  padding-bottom: 20px;

  margin-bottom: 30px;
  box-shadow: 0 4px 4px 4px rgb(171, 169, 167);
  transition: all 500ms ease-out;

  // &:hover {
  //   scale: 1.05;
  //   box-shadow: 0 6px 6px 6px rgb(171, 169, 167);
  // }
  @media screen and (min-width: 768px) {
    display: flex;
    min-height: auto;
    gap: 20px;
  }
}
.whoDoIHelpImage {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.whoDoIHelpTitle {
  font-family: var(--font-robotoCond);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
}

.listStyle {
  list-style-type: square;
  padding-left: 15px;
  & li::marker {
    color: var(--accent-text-color);
  }
}
